/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Feb-2020, 20:49:19
    Author     : Michal
*/
body{
    overflow:auto;
}
* {
    box-sizing: border-box;
}
a[href="/faces/userLogin.xhtml"]{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    padding: 10px;
    border: 2px solid black;
}

.flatBox{
    background-color: white;
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;

}

.flatBox > img{
    height: auto;
    width: 35%;
    margin-right: 5px;
    object-fit: cover;
}
div[id="outputTexts"] > span {
    display:block;
    margin-bottom: 5px;
    padding: 5px;
    text-align: justify;
}

span[id="name"]{
    font-size: 30px;
}

span[id="desc"]{
    color: #0074D9;
    font-size: 18px;
}

span[id="price"]{
    color: #c34f4f;
    font-size: 22px;

}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

.popup-panel-overlay{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    margin: auto;
}
.popup-panel{
    inline-size: max-content;
    margin: auto;
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #DDD;
}