body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Lato';
    font-size: 20px;
    background: url(http://localhost:8080/resources/images/white_wall.png);
    /* This pattern is downloaded from www.subtlepatterns.com */
    overflow:auto;

}

.wrapper{
    width: 100%;

}

.header{
    width: 100%;
    padding: 20px 0; 

}
.nav{
    width: 100%;
    padding: 10px 0;
    background-color: #EEEEEE;
    /* This pattern is downloaded from www.subtlepatterns.com  */
    text-align: center;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    z-index: 101;
}

.logo{
    margin-top: 0;
    line-height: 100px;
    text-align: center;
    width: 400px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;

}
.logoImage {
    float: left; 
    width: 20%;
    height: auto;
}

.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

}

ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;

}
ol a{
    color: #c34f4f;
    text-decoration: none;
    display: block;
}

ol > li{
    float: left;
    width: 250px;
    height: 40px;

    color:#0074D9;

    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;

    transition:1s;

    a:hover { color:red; }

}
ol > li:not(:hover){
    border-right: 1px dashed #751b1b;
}

ol > li:first-child{
    border-left: 1px dashed #751b1b !important;
}

ol > li:hover{
    border-radius: 25px;
    background-color: #DDDDDD;
    border: 1px dashed #751b1b !important
}
ol> li:hover > a{
    color:#0074D9;
    text-align: center;
}


#welcomeTitle{
    position: absolute;
    top: 1vh;
    padding-left: 3vh;
}



