
body {
    padding: 0;
    color: #afa698;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 23px;
    line-height: 1.7em; 
    background: url(http://localhost:8080/resources/images/white_wall.png);
    /* This pattern is downloaded from www.subtlepatterns.com */
    
    overflow:auto;

}

.centeredForm{
    background-color: white; 
    margin-top: 10vh !important;

    inline-size: max-content !important;
    width: auto;
    box-sizing: border-box;
    border:  5px solid #EEE;
    border-radius: 10px;
    padding: 20px;
    color: white;
}

a:hover { 
    text-decoration: underline; 
}

a, a:link, a:visited { 
    color: #c6c888; 
    font-weight: 700; 
    text-decoration: none; 
    font-size: 11px; 
}

.img { border: none; }

.RegisterInputFieldsTable {
    height: 43px;

}
#siteHeader{
    font-size: 50px;
    width: 320px;
    margin-bottom: 50px;
}

#siteTitle{
    font-size: 50px;
}


ul{
    top: 1vh;
    left: 1vh;
}

.logoImage{
    width: 25%;

} 

.credits{
    position: absolute;
    right: 1vh;
    bottom: 0;
    text-align: right;

}

.messages{
    color: #c34f4f;
    list-style: none;
    text-align: center !important;
}

